<div class="card bg-utasr-blue">
    <p-galleria 
    [value]="images"
    [autoPlay]="true" 
    [numVisible]="2" 
    [circular]="true"
    [transitionInterval]="10000"
    [showItemNavigators]="true" 
    [showThumbnails]="false">
        <ng-template pTemplate="item" let-item> 
            <img 
                [src]="item.src"  
                [alt]="item.alt"  
                [title]="item.title"  
                class="gallery-image"
            /> 
        </ng-template>
    </p-galleria>
</div>
