:host ::ng-deep p-menubar {
    display: absolute; /* Use flexbox to align items */
    justify-content:center; /* Place logo on the left and menu items on the right */
    align-items: left; /* Vertically align items */
    height: 60px;
    width: 100%; /* Ensure it takes the full width */
}

:host ::ng-deep .p-menuitem {
    margin-left: 20px; /* Add some spacing between menu items */
}

:host ::ng-deep .p-menuitem-text {
    color: white;
}

:host ::ng-deep .p-menuitem:hover .p-menuitem-text {
    color: black; /* Change text color on hover */
}

img {
    height: 60px;
    width: auto; /* Keep image's aspect ratio */
    margin-left: 5%; /* Align the logo to the left */
    margin-top: 1%;
    margin-bottom: 1%;
}

@media screen and (max-width: 960px) {
    :host ::ng-deep .p-menuitem-text {
        color: black;
    }
    :host ::ng-deep .p-menuitem:hover .p-menuitem-text {
        color: black; /* Change text color on hover */
    }

    img {
        height: 60px;
        width: auto; /* Keeps the image's aspect ratio */
        margin-top: 1%;
        margin-bottom: 1%;
        text-align: left;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    :host ::ng-deep p-menubar {
        justify-content: left;
    }
}

